/* Estilos Gerais */
body{
  background: rgb(79,120,133);
}
a{
  text-decoration: none;
}
.alinhamento-centro{
  margin: 0 auto;
}

ul{
  padding-left: 0px; /* Retirando o padding inicial que é dado no ul */
}
ul li{
  list-style-type: none;
}



.barra:after{
  content: "";
  display: block;
  height: 5px;
  width: 50px;
  background: rgba(60, 124, 161, 0.89);
  margin: 7px auto;
}
.barra:before{
  content: "";
  display: block;
  height: 5px;
  width: 50px;
  background: rgba(60, 124, 161, 0.89);
  margin: 7px auto;
  
}


.linha:after{
  content:"";
  display: block;
  height: 1px;
  margin:5px 20px 5px 0;
  background:rgb(79,120,133);
}
a.clicavel{   /*Serve para deixar a div clicavel */
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 50%;
  
  
}
a.clicavel:hover{
  
  box-shadow: 1px 1px 10px 2px rgb(190, 205, 210);
<<<<<<< Updated upstream
  color: rgb(4, 92, 70);
  transition: 0.45s;
=======
  
  transition: 0.25s;
  
>>>>>>> Stashed changes
}
.click-imagem{
  border: 1px solid rgb(191, 3, 253);
  cursor: pointer;
}

.click-imagem:hover{
  box-shadow: inset 1px 1px 11px 3px tomato,
  inset 1px 1px 15px 10px rgb(238, 240, 97);
  transition: 0.5s;
}
.sombra{
  width: 95%;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.377);
  background: rgba(255, 255, 255, 0.63);
  margin: 15px auto;
}

.circulo{
  background-color: black;
}

/* Fim estilos gerais */

.container{
  
  display: inline-block;
}
.titulo{
  max-width: 800px;
  color:azure;
  background:transparent;
  padding: 5px;
  text-align: center;
  
}
/*--------- Relogio------- */
.tela-relogio{
  max-width: 796px;
  margin: 40px 0px 10px 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.542);
  color: aqua;
  border: 2px solid transparent;
  box-shadow: 1px 1px 11px 3px rgb(20, 26, 19);
}

.tela-relogio div{
  display: inline-block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  
}

.tela-relogio div h2{
  margin-top: 15px;
  text-align: center;
}

.horas, .minutos, .segundos{
  
  font-size: 25px;
  
}

.bordas{
  width: 150px;
  height: 150px;
  
  position: relative;
  background: transparent;
  border: 2px  solid azure;
  box-shadow: 
  inset 0 0 0 2px rgba(0, 0, 0, 0.809),
  inset 0 0 0 4px aliceblue;

}



<<<<<<< Updated upstream
.segundos{

=======
/* Informações */
.conteudo-informacoes{
  background: rgba(0, 0, 0, 0.542);
  margin:20px 40px;
  max-width:800px;
>>>>>>> Stashed changes
}

.informacoes{
  display: inline-flex;
  width: 600px;
  margin: 20px;
  margin-left: 100px;
  background:tomato;
}

.informacoes div.foto{
  margin: 5px;
  margin-right: 0;
  background: midnightblue;
}


.foto img{
  margin: 10px ;
  padding: 10px;
  width: 250px;
  height: 250px;
  border-radius:50%;
  background: rgba(106, 146, 165, 0.863);
}

.infos{
  
  margin: 5px;
  width: 600px;
  background:turquoise;
}

.infos h2{
  text-transform: uppercase;
  color: white;
  margin: 10px 20px;
  padding-top: 20px;
  text-align: center;
}

.infos ul li{
  color: whitesmoke;
  padding-bottom: 5px;
  margin-left:20px;
  line-height: 1.50em;
  color: rgb(4, 92, 70);
  
}
/*Diretorios */
.portfolio h2{
  color: white;
  text-align: center;
}

/* Projetos */
.claro{
  background: turquoise;
 margin: 5px;
  text-align: center;
}

.escuro{
  background:midnightblue;
}
.projetos{
  max-width: 800px;
  margin: 20px 40px;
  background: rgba(0, 0, 0, 0.542);
}
.projetos section{
  
  width: 120px;
  height: 250px;
  padding: 10px;
  margin: 15px 25px;
  margin-left: 20px;
  display: inline-table;
}



.projetos section::after{
  content: "";
  display: block;
  
  height:3px;
  background: rgba(255, 226, 5, 0.94);
}

.circulo{
  border-radius: 50%;
  background: black;
}

.projetos ul li{
  
  padding:5px;
  padding-block: 20px;
  height: 71px;
  
}
.descricao p{
  width: 100px;
  height:100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  color: azure;
  text-align: center;
  font-size: 12px;
  line-height: 1.50em;
  font-family: Arial, Helvetica, sans-serif;
  
}

.projetos div.descricao::after{
  content: "";
  display: block;
  height:2px;
  background: tomato;
  
}
.projetos div.descricao{
  background: transparent;
}

/* Caixas dos projetos */

.github, .calculadora-medicacao, .projeto-bikcraft{
  width: 100px;
  height: 100px;
  

}


.calculadora-medicacao ul li{
  margin-right: 5px;
}

footer{
  color:white;
  background: rgb(81,138,171);
  text-align: center;
  padding: 10px;
  
}
<<<<<<< Updated upstream
=======

/*  modall
*/

.modal-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:-150px;
  left: -450px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
  
}

.modal-container.mostrar{
  display: flex;
}

.fechar{
  position: absolute;
  top:-10px;
  right:-5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  background:  rgba(0, 0, 0, 0.507);
  color:tomato;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.419);
  padding: 0 0 20px 0;
}

.tamanho{
  width: 200px;
  height: 200px;
  border-radius:10px
}

.modal{
  position: relative;
 
  
}
.modal:hover{
  transform: scale(2.2);
  
}
>>>>>>> Stashed changes
